*{
  margin: 0;
  padding: 0;
  font-family: 'Menlo', monospace;
}

.game{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 690px;
  height: 620px;
  border: 1px solid black;
  margin-top: 3px;
  background: #cee6f2;
}

.game_header-none{
  height: 80px;

}

.game_header-block{
  height: 80px;
  width: 690px;
  position: relative;
  border-bottom: 1px solid black;

}

.game_play{
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.cell{
  background: #000000;
  width: 15px;
  height: 15px;
  float: left;
  z-index: 999;
}

.wall{
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABTSURBVHjaYtwtw/efAQ84mlLEwMDAwGA9pw+rPBMDhYDlj+cPkjSgq6fYBQNvAGNDQ8P/AXUBC4yBK57p5wJc8Tz4o5F6YQDLdXR3AQAAAP//AwBJ4RFBmp/j6AAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  width: 30px;
  height: 30px;
  float: left;
  position: absolute;
  z-index: 1;

}

.square{
  background: greenyellow;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 9;
}


.big-title{
  font-size: 50px;
  top: 150px;
  color: black;
  position: absolute;
  text-decoration: underline;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.button-center{
  width: 220px;
  height: 70px;
  background: rgba(173, 255, 47, 0.8);
  position: absolute;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  bottom: 100px;
  left: 235px;
  border-radius: 5%;
  border: 1px solid black;
  cursor: pointer;
}


.game_title{
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  text-decoration: underline;
  position: absolute;
  left: 0;
  right: 0;

}

.game_score{
  position: absolute;
  left: 20px;
  font-size: 20px;
  top: 10px;
}

.game_timer{
  position: absolute;
  right: 25px;
  line-height: 80px;
  font-size: 20px;
}

.game_target{
  position: absolute;
  top: 45px;
  font-size: 20px;
  left: 20px;
}

.level{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 50px;
  text-align:  center;
  font-size: 23px;
  line-height: 50px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  background: whitesmoke;
  cursor: pointer;
}

.game_level{
  width: 590px;
  margin-left: 100px;
  margin-top: 70px;
}

.circle{
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
}
