<!DOCTYPE html>
<html lang="en">
<head>
  <!--<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">-->
  <script src="./script/vue.js"></script>
  <link rel="stylesheet" href="./stylesheet/style.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>




<div class="game" >

  <!-- Header -->
  <div class="game_header-none">
    <div class="game_header-block" v-show="game_play" >
      <div class="game_title">SQUARE PAC-MAN</div>
      <div class="game_timer">Time: {{min}}:{{sec}}</div>
      <div class="game_score">Score: 0</div>
      <div class="game_target">Target: {{target}}</div>

    </div>
    <div class="game_title" v-show="game_level">SQUARE PAC-MAN</div>
  </div>



  <!-- Levels -->
  <div class="game_level" v-show="game_level" >

    <div class="level" v-for="level in levels" @click="level_info(level)">{{level}}</div>

  </div>


  <!-- Main field -->
  <div class="game_play" v-show="game_play">




    <!-- Field -->
    <div class="row" v-for="k in 36">
      <div class="cell" v-for="l in 46"></div>
    </div>

    <!-- Blocks -->
    <div class="game_wall">
      <div class="wall"  v-for="wall in walls" :style="{left: walls_left[wall] + 'px', top: walls_top[wall]+ 'px'}"></div>
    </div>

    <div class="circle" :style="{left: circle_x*15 + 'px', top: circle_y*15 + 'px'}"></div>

  </div>




  <!-- Game start -->
  <div class="game_start" v-show="game_start">
    <div class="big-title">SQUARE PAC-MAN</div>
    <div class="button-center button-play"  @click="button_play">Play</div>
  </div>





  <!-- Game end -->
  <div class="game_end">

  </div>




</div>
<script src="./script/index.js"></script>



</body>


</html>