*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    list-style: none;
}

.wrapper{
    overflow: hidden;
    position: relative;
    padding: 20px;
}

header{
    height: 50px;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.logo {
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, green 10%, greenyellow 66%, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lawngreen;
    padding-left: 20px;
}

.navigation{
    float: right;
    padding-right: 10px;
}

.navigation_link{
    margin-top: 10px;
    float: left;
    list-style: none;

}

.navigation_item{
    font-size: 18px;
    height: 30px;
    padding: 8px 10px;
    transition-duration: 0.3s;
    border: 1px solid white;
    border-radius: 5px;
}

.navigation_item:hover{
    border: 1px solid rgba(1,1,1, 0.2);

}

.navigation_link+.navigation_link{
    margin-left: 25px;
}

main{
    overflow: hidden;
}

#glav{
    overflow: hidden;
    margin-top: 50px;
}

.glav_img{
    width: 700px;
    float: left;
    padding-right: 25px;
    padding-bottom: 25px;
}

.list_glav li+li{
    margin-top: 10px;
}

.list_glav{
    margin-top: 10px;
}

p{
    font-weight: bold;
}

#vids{
    margin-top: 50px;
    overflow: hidden;
}

.vid{
    float: left;
    width: 240px;
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 25px;
}

.vid_text{
    border-top: 1px solid black;
    padding-top: 10px;
    height: 250px;
}

.vid_img{
    height: 200px;
    padding-bottom: 10px;
}

#reg{
    margin-top: 75px;
}

.reg{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(1,1,1, 0.1);
    height: 300px;
}

footer{
    background: black;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding: 20px;
}
